:host {
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}


.document-page {
  position: relative;

  img {
    height: auto;
    width: 100%;
  }
}
.document {
    margin-bottom: 145px;
}
