<div tuiAppearance="flat-destructive" tuiCardLarge class="document" [style.width.px]="width()">
  <h3>{{ documentData()?.name | uppercase }}</h3>

  @for (img of documentData()?.pages; track img.number) {
    <div class="document-page" (click)="onPageClick($event)">
      <img
        [ngSrc]="img.imageUrl"
        [width]="1000"
        [height]="1"
        [alt]="img.number"
        priority
        draggable="false"
      />
      <div class="annotations" [attr.data-item-id]="img.number">
        @for (annotation of annotations(); track annotation.id) {
          <app-annotation
            [annotation]="annotation"
            (onDelete)="onDeleteAnnotation($event)"
            (onUpdate)="onUpdateAnnotation($event)"
          />
        }
      </div>
    </div>
  }
</div>

<app-toolbar
  [saveDisabled]="!changed()"
  (zoomChange)="onZoomChange($event)"
  (onSave)="save()"
  (onClear)="clear()"
/>
