<div class="annotation">
  <div class="point"></div>
  <div class="actions drag-handler">
    <p class="mover">
      <tui-icon icon="@tui.move" />
      <span>Take to move</span>
    </p>

    <button size="xs" tuiButtonClose tuiIconButton type="button" (click)="close.emit()"></button>
  </div>

  <tui-textfield tuiTextfieldSize="s">
    <textarea
      tuiTextarea
      placeholder="Enter Text"
      [tuiTextfieldCleaner]="false"
      [min]="3"
      [max]="10"
      [(ngModel)]="text"
    ></textarea>
  </tui-textfield>
</div>
